body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #E1E5EA;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 2%;
    background-color: #228584;
    color: white;
}


nav h1 {
    text-align: center;
    margin: 0px;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
}

nav h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
}

#main-container {
    display: flex;
    justify-content: space-evenly;
}

#regions {
    width: 250px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#regions button {
    height: 35px;
    text-align: center;
    margin-top: 5%;
    font-size: 1.2em;
    border: 0;
    border-radius: 7px;
    font-weight: 500;
    background-color: #228584;
    color: white;
}

#regions button:hover {
    transition: 0.8s;
    background-color: rgb(8, 72, 56);
    cursor: pointer;
}

#table-header {
    display: flex;
    align-items: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding-left: 5.5%;
    height: 10%;
    background-color: #228584;
    color: white;
}

#table-header h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

#table-header h3:nth-child(1) {
    width: 20%;
}

#table-header h3:nth-child(2) {
    width: 65%;
}

#table-header h3:nth-child(3) {
    width: 15%;
    margin-right: 2%;
}


#table-container {
    width: 600px;
    max-height: 350px;
    padding: 0;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#table-container::-webkit-scrollbar {
    visibility: visible;
    width: 6px;
    background-color: #9fcac9;
    border-bottom-right-radius: 8px;
}

#table-container::-webkit-scrollbar-thumb {
    background-color: #228584;
    border-radius: 5px;
}

.table-style {
    width: 100%;
    padding: 0;
    border-spacing: 0;
}

.table-row-style {
    height: 43px;
    background-color: white;
}

.table-cell-style {
    width: 60%;
    font-size: 1.3em;
    font-weight: normal;
    text-align: start;
    padding-left: 6%;
}

.logo-style {
    max-width: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}

#time-since-updated {
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #060047;
}

@media screen and (max-width: 650px) {

    nav h1 {
        font-size: 1.6em;
    }

    nav h2 {
        font-size: 1.1em;
    }

    #main-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    #table-block {
        width: 90%;
        margin: 0;
    }

    #table-header {
        margin: 0;
        margin-top: 4%;
        position: relative;
        width: 94%;
    }

    #table-header h3:nth-child(2) {
        width: 60%;
        margin-left: 10px;
    }

    #table-header h3:nth-child(3) {
        width: 20%;
        margin-right: 5px;
    }

    #table-container {
        max-width: 100%;
    }

    .table-style {
        padding: 0;
    }

    #regions {
        width: 90%;
    }

    #regions button {
        text-align: center;
        margin-top: 2%;
        height: 40px;
    }


}