body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

nav {
    background-color: rgb(58, 58, 173);
    height: 60px;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
    margin: 0px;
    color: white;
}

#main-container {
    display: flex;
    justify-content: center;
}

#regions {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#regions button {
    width: 250px;
    height: 35px;
    text-align: start;
    padding-left: 5%;
    margin-top: 5px;
    border: 0;
    font-size: 1.2em;
    background-color: rgb(58, 58, 173);
    color: white;
}

#regions button:hover {
    width: 275px;
    transition: 0.5s;
    background-color: blue;
    cursor: pointer;
}

#table-container {
    width: 650px;
    max-height: 400px;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

#table-container::-webkit-scrollbar {
    visibility: hidden;
    width: 6px;
}

#table-container::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
}

.table-style {
    width: 100%;
    padding: 30px;
    border-spacing: 0;
}

.table-row-style {
    height: 43px;
    background-color: white;
}

.table-cell-style {
    width: 60%;
    font-size: 1.3em;
    font-weight: 600;
    text-align: start;
    padding-left: 6%;
}

.logo-style {
    max-width: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
}

#time-since-updated {
    color: blue;
    padding-left: 10%;
}