.table-style {
    width: 75%;
    padding: 20px;
    border-bottom: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.table-row-style {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.t-cell-style {
    width: 100%;
    text-align: start;
    border: solid 1px red;
}

#results {
    border-color: red;
    border-width: 2px;
}